@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("ShowWeather", "Home", FormMethod.Post))
{
    <div class="jumbotron back">
        <h1>Weather App</h1>
        <p>Weather App is a service helps you to know the weather of your town, or city, or place where you live.</p>
    </div>

    <div class="row">
        <div class="col-md-4 back my-row-padding">
            <h4>Select city/town...</h4>
            @Html.DropDownList("ListOfCities", ViewBag.ListOfSities as SelectList, htmlAttributes: new {@class = "form-control"})
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 back my-row-padding">
            <h4>...or write name of it:</h4>
            <input type="search" name="search" placeholder="Поиск по городу" class="form-control" style="display:inline-block">
            <input type="submit" value="Find" class="btn btn-default" >
        </div>
    </div>
}