
#header-flexbox {
    display:flex;
    justify-content: space-between;
    background:rgba(240, 222, 180, 135);
    margin: 0;
    padding: 10px;
    font-size: 15pt;
    height: 10%;  
    width:100%;
    position:fixed;
}

#logo{  
    height:50px;
    width: 150px;
    background-size: 100%;
    background-repeat: no-repeat;  
}
#links {
    margin: 5px;
    padding: 5px;
    color: black;
}